.items{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: center;
    padding: 30px ;
    width: 100%;

}
.blogs{
    text-align: center;
    border-radius: 20px;
    border: whitesmoke solid 5px;
    box-shadow: 2px 2px darkgray ;
    position: relative;
    margin: 20px 17px;
    padding: 30px 30px;
    width: 30%;

}
h1{
    font-style: bold;
    text-transform: upperCase;
}
.read_more_link{
    color: blueviolet;
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
}
.extra_content{
    color: black;
    font-weight: 500;
}
p{
    font-size: small;
}